/* Define --main-bg-color here */
:root {
    --tyx-primary-color: #6B5AED;
    --tyx-calendar-bg-color: white;
    --tyx-header-bg-color: white;
    --tyx-calendar-radius: 6px;
    --tyx-calendar-week-grid-padding-left: 75px;
    --tyx-calendar-week-grid-padding-top: 10px;
    --tyx-calendar-week-grid-height: 1400px;
    --tyx-calendar-week-grid-slot-height: 66px; 
    --tyx-calendar-week-event-container: hsla(var(--link-color-hsl), .1);
}